        <footer class="flex-container" >
        <div class="flex-item-footer ansi-inline">
<pre class="ansi1">       
      
      _,met$$$$$gg.
    ,g$$$$$$$$$$$$$$$P.
  ,g$$P"     """Y$$.".
 ,$$P'              `$$$.
',$$P       ,ggs.     `$$b:
`d$$'     ,$P"'   <span>.</span>    $$$
 $$P      d$'     <span>,</span>    $$P
 $$:      $$.   <span>-</span>    ,d$$'
 $$;      Y$b._   _,d$P'
 Y$$.    <span>`.</span>`"Y$$$$P"'
 `$$b      <span>"-.__</span>
  `Y$$
   `Y$$.
     `$$b.
       `Y$$b.
          `"Y$b._
              `"""</pre>
    <div class="ansi">
    
    <pre>
    
    <span>OS</span>:     Debian GNU/Linux 11
    <span>Host</span>:   Raspberry Pi 4 Model B Rev 1.4
    <span>Kernel</span>: 5.XX.XX
    <span>Shell</span>:  bash
    <span>CPU</span>:    BCM2835 (4)  &copy; 1.800GHz
    <span>Memory</span>: 7812MiB</pre></div></div>
      </ol>
                <div class="flex-item-footer">
                  <pre>Designed, Developed & Deployed</pre>
                  <pre>by Jonas Issa</pre>
            </div>
        <div class="flex-item-footer"></div>

    </footer>