<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"]</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKNTW4LT72"></script>
    <script src="asp/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="asp/wwwroot/js/darkmode.js" asp-append-version="true"></script>
    <script type="text/javascript" src="asp/wwwroot/js/Typewriter.js" asp-append-version="true" defer></script>
    <script type="text/javascript" src="asp/wwwroot/js/headerscroll.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="asp/wwwroot/css/Variables.css" />
    <link rel="stylesheet" href="asp/wwwroot/css/General.css" />
    <link rel="stylesheet" href="asp/wwwroot/css/Header.css" />
    <link rel="stylesheet" href="asp/wwwroot/css/Footer.css" />
    <link rel="stylesheet" href="asp/wwwroot/css/Dark-mode.css"/>
    <link rel="stylesheet" href="asp/wwwroot/css/scroll.css" />
    
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-EKNTW4LT72');
    </script>

</head>

<body class="">
    <partial name="_Header" />
    <partial name="Components/DarkModeButton" />

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
    <partial name="_Contact" />
    <partial name="_Footer" />
</body>

</html>