  <div class="rectwrapper intro" id="rectw">        
    <div class="face">Robots</div>
    <div class="face">Websites</div>
    <div class="face ">Servers</div>
    <div class="face">Software</div>
  </div>