<div id="backdrop">
    <div id="stack_bubble" class="stack_img">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/csharp_original_logo_icon_146578.svg">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/asp-svgrepo-com.svg">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/html-5-logo-svgrepo-com.svg">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/css3-logo-svgrepo-com.svg">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/javascript-svgrepo-com.svg">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/jquery-svgrepo-com.svg">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/sqlite-svgrepo-com.svg">
    </div>
    <div class="stack_img">
        <img src="wwwroot/images/nginx_original_logo_icon_146413.svg">
    </div>
</div>