/* Body */
.dark-mode{
  --light-grey: var(--dark-grey);
  --light-white: var(--dark-white);
  --red-bright: var(--green-bright);
  --red-dark: var(--green-dark);
  --light-grey-section: var(--dark-grey-section);
  
}

.dark-mode ::selection{
  color: black;
  background-color: white;
}

/* Button */
.dark-mode .svg{
  fill: var(--dark-white);
  width:80%
}
.lightbuttontext> svg:hover>.svg{
  fill: rgb(255, 255, 132);
}
.lightbuttontext{
  z-index: 2; 
  position:relative; 
  right:40px; 
    user-select: none;
    float: right; 
  font-family: var(--font-hand); 
  transform: rotateZ(25deg);
  font-size: var(--fs4); 
  top: 80px; 
  }


.lightbuttontext_header{
  display: flex;
  align-items: center;
  }
  .lightbuttontext_header:hover>.svg{
    fill: rgb(255, 255, 132);
  }


  /* The switch - the box around the slider */
.switch {
  display: inline-block;
  z-index: 2; 
  position:relative; 
  right:40px; 
  user-select: none;
  float: right; 
  top: 100px; 
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--red-dark);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--green-bright);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider:before:hover{
  background-color: var(--green-dark);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}